<div id="<%= dom_id provider %>">
  <p>
    <strong>Number provider:</strong>
    <%= provider.number_provider %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= provider.description %>
  </p>

  <p>
    <strong>Number medicine:</strong>
    <%= provider.number_medicine %>
  </p>

</div>
