<h1>Editing laboratory 22</h1>

<%= render "form", laboratory_22: @laboratory_22 %>

<br>

<div>
  <%= link_to "Show this laboratory 22", @laboratory_22 %> |
  <%= link_to "Back to laboratory 22s", laboratory_22s_path %>
</div>
