<div id="<%= dom_id laboratory %>">
  <p>
    <strong>Number laboratory:</strong>
    <%= laboratory.number_laboratory %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= laboratory.description %>
  </p>

</div>
