<h1>Editing laboratory</h1>

<%= render "form", laboratory: @laboratory %>

<br>

<div>
  <%= link_to "Show this laboratory", @laboratory %> |
  <%= link_to "Back to laboratories", laboratories_path %>
</div>
