<div id="<%= dom_id usu_busca_farm_barrio %>">
  <p>
    <strong>Login:</strong>
    <%= usu_busca_farm_barrio.login %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= usu_busca_farm_barrio.password %>
  </p>

  <p>
    <strong>Number medicine:</strong>
    <%= usu_busca_farm_barrio.number_medicine %>
  </p>

</div>
