<h1>Editing usu busca farm barrio</h1>

<%= render "form", usu_busca_farm_barrio: @usu_busca_farm_barrio %>

<br>

<div>
  <%= link_to "Show this usu busca farm barrio", @usu_busca_farm_barrio %> |
  <%= link_to "Back to usu busca farm barrios", usu_busca_farm_barrios_path %>
</div>
