<h1>Editing medi cine</h1>

<%= render "form", medi_cine: @medi_cine %>

<br>

<div>
  <%= link_to "Show this medi cine", @medi_cine %> |
  <%= link_to "Back to medi cines", medi_cines_path %>
</div>
